#aboutHeader
{
    color: #dc7844;
    text-align: center;
}

#storyContainer
{
    /*for image
        width: 75%;*/
    margin: auto;
    width: 65%;
}

#storyBlock
{
    /*For if a picture is added*/
    /*float: left;
        width: 50%;*/
    display: inline;
}

#storyImg
{
    float: right;
    width: 49%;
    display: inline;
}

#quote
{
    color: #dc7844;
}

p
{
    margin-bottom: 10px;
    margin-left: 10px;
}

ul
{
    margin-left: 40px;
    margin-bottom: 10px;
}