body
{
    text-align: center;
    overflow-x: hidden;
}

#menu
{
    width: 85%;
    background-color: #dc7844;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

#largePicture
{
    width: 100%;
    margin: auto;
}

#menuBar
{
    display: table;
    margin: auto;
    width: 70%;
}

#menuBar h2
{
    color: #f95300;
}

#menuDesc
{
    display: table-cell;
    vertical-align: middle;
}

.menuButtonsContainer
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.menuButtonsContainer li
{
    flex: 0 0 33%;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table
{
    width: 49%;
    display: table;
    margin: 0;
    color: #FFFFFF;
}

.row
{
    display: table-row;
}

.cell
{
    display: table-cell;
    padding: 5px;
}

.price
{
    text-align: right;
    padding-bottom: 0;
}

.food
{
    text-align: left;
    padding-bottom: 0;
}

.desc
{
    padding-top: 0;
    text-align: left;
    text-indent: 20px;
}

.left
{
    float: left;
    padding-right: 15px;
    border-right: 1px solid #FFFFFF;
}

.right
{
    float: right;
}

.menuButton
{
    color: #000000;
    cursor: pointer;
    text-decoration: none;

    /*prevents users from highlighting nav text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.menuButton:hover
{
    color: #f95300;
}

.selectedMenu
{
    color: #f95300;
   
}

.selectedMenu:hover
{
    color: #000000;
}

#menuHeader
{
    color: #FFFFFF;
}