body
{
    text-align: center;
    overflow-x: hidden;
}

#menu
{
    width: 85%;
    background-color: #dc7844;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

#largePicture
{
    width: 99%;
    margin: auto;
}

#menuBar h2
{
    color: #dc7844;
}

#verticalLine
{
    height: 85%;
    border-right: 1px solid #FFFFFF;
    width: 49.5%;
    top: 7.5%;
    position: absolute;
}

#menuDesc
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#menuNav ul, #menuNav li
{
    display: inline-block;
}

#menuNav
{
    padding: 2em;
}

#menuNav li
{
    margin: 0 5em;
}

.table
{
    width: 49%;
    display: table;
    margin: 0;
    color: #FFFFFF;
}

.row
{
    display: table-row;
}

.cell
{
    display: table-cell;
    padding: 5px;
}

.price
{
    text-align: right;
    padding-bottom: 0;
}

.food
{
    text-align: left;
    padding-bottom: 0;
}

.desc
{
    padding-top: 0;
    text-align: left;
    text-indent: 20px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}