body
{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #000000;
}

img, h1, h2, h3, h4, p, li, ul, div
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

footer
{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#footerAddresss
{
    color: #f95300;
}