main
{
    margin-top: 120px;
}

nav
{
    width: 100%;
    overflow-x: hidden;
    top: 0;
    position: fixed;
    left: 0;

    background-color: #FFFFFF;

    margin: 0 auto;
    text-align: center;
    padding: 20px 10px 10px 10px;

    z-index: 5;

    /*prevents users from highlighting nav text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

nav ul, nav li
{
    display: inline-block;
}

nav ul
{
    margin: auto;
    display: table;
}

nav li
{
    margin-left: 25px;
    margin-right: 25px;
}

nav #logo
{
    margin-left: 50px;
    margin-right: 50px;
    vertical-align: middle;
}

nav a
{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

nav a:hover
{
    color: #f95300;
}

.currPage
{
    color: #f95300;
}

.currPage:hover
{
    color: #000000;
}

/*Link floater stuff*/
#linkFloater
{
    position: absolute;
    left: 0;
    background-color: #f95300;
    padding: 10px 10px 0 30px;
    top: 200px;
}

#linkFloater a
{
    margin: 0;
    padding: 0;
}

#linkFloater a img
{
    margin: 0;
}

/*dropdown menu stuff*/
.dropdown-content
{
    display:none;
    position: fixed;
    z-index: 6;
    border: 1px solid red;
    
    text-align: left;
    background-color: #f95300;
    
    box-shadow: 3px 3px #FFFFFF;

    padding: 10px;

    margin-top: 10px;
    margin-left: -20px;
}

.show
{
    display: table;
}

.dropdown-row
{
    display: table-row;
    
}

.dropdown-row a
{
    display: table-cell;
    color: #ffffff;

    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-row a:hover
{
    font-weight: bold;
    color: #ffffff;
}

.dropdown-row .selectedMenu
{
    font-weight: bold;
}

#closingArrow
{
    display: inline-block;
    vertical-align: bottom;
}
