nav
{
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;

    /*prevents users from highlighting nav text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

ul, li
{
    display: inline;
}

li
{
    margin: 25px;
}

#logo
{
    margin-left: 50px;
    margin-right: 50px;
    vertical-align: middle;
}

a
{
    text-decoration: none;
    cursor:pointer;
    color: #000000;
}

a:hover
{
    color: #dc7844;
}

.currPage
{
    color: #dc7844;
}

.currPage:hover
{
    color: #000000;
}